<!DOCTYPE html>
<html>
  <head>
    <title>HTML5 Checkers</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
  
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
    />
    <link rel="stylesheet" href="/css/checkers.css" />
    <link href="/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.png" type="image/x-icon" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <input type="hidden" name="gamed" value="<%= game_id %>" />
    <input type="hidden" name="sessionID" value="<%= user_id %>" />
    <script>
      
      var game_id = document.querySelector("input[name=gamed]").value
      var sessionID = document.querySelector("input[name=sessionID]").value
      var baqay = <%= JSON.stringify(board) %>
      var player_turn = Number(<%= player_turn%>)
      let beforeMoves = <%= JSON.stringify(beforeMove)%>
      let continiuousjump = <%=continiuousjump%>
      var player1
      var player2
      let currentPlayer;
      console.log(JSON.parse(document.querySelector("pre")))
      let messages = <%=JSON.stringify(messages, null, 4)%>
      </script>
      
    <%if(player_1){%>
    <script>
      player1 = "<%= player_1.user_id %>";
      if (sessionID == player1) {
        currentPlayer = 1;
      }
    </script>
    <% } if(player_2){%>
    <script>
      player2 = `<%= player_2.user_id %>`;
      if (sessionID == player2) {
        currentPlayer = 2;
      }
    </script>
    <% } %>

    <!-- Qaysi rangda o'ynashni tanlash -->
    <div class="modal-choose"></div>
    <script>
      if (!player1 || !player2) {
        let modal = document.querySelector(".modal-choose");
        modal.style.display = "flex";
        if (!player2)
          modal.innerHTML += `<button onclick="chosed('white')" id="w">white</button>`;
        if (!player1)
          modal.innerHTML += `<button onclick="chosed('red')" id="r">red</button>`;
      }
    </script>
    <div class="columns">
      <nav class="menu-panel">
        <div class="menu-head">
          <div
            class="menu-avatar"
            style="
              background-image: url('https://gamefactory.zone/file/user_photo/u8kMClM87EUaq5E9BGVFKA/photos/file_1378587.jpg');
            "
          ></div>
          <button class="menu-logout" style="display: none">
            <i class="fa fa-sign-out"></i>
          </button>
          <div class="menu-username">HAQIQAT IZLAB</div>
        </div>
        <div class="menu-item menu-lobby">
          <i class="fa fa-users"></i>
          <div class="text">Checkers Lobby</div>
        </div>
        <div class="menu-item menu-myGames">
          <i class="fa fa-list-ul"></i>
          <div class="text">My Games</div>
          <div class="badge pending-games">0</div>
        </div>
        <div class="menu-item menu-room selected">
          <i class="fa fa-play"></i>
          <div class="text">Current Game</div>
          <div class="badge current-room">!</div>
        </div>
        <div class="logo">
          <div class="logo-img"></div>
          <span>GameFactory Chess</span>
        </div>
      </nav>
      <div class="column">
        <div id="board">
          <div class="tiles"></div>
          <div class="pieces">
            <div class="player1pieces"></div>
            <div class="player2pieces"></div>
          </div>
        </div>
      </div>
      <div class="right-panel">
        <div class="game-console stack-panel">
          <div
            class="game-console-container100 stack-tab hidden"
            data-name="notation"
          >
            <div class="game-console-header">Notation</div>
            
          </div>
          <div
            class="game-console-container100 stack-tab chat selected"
            data-name="chat"
            style="
              touch-action: pan-y;
              user-select: none;
              -webkit-user-drag: none;
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            "
          >
            <div
              class="inner-area"
              style="
                touch-action: pan-y;
                user-select: none;
                -webkit-user-drag: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
              "
            ></div>
            <form>
              <div class="chat-input">
                <input type="text" /><button type="submit">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i
                  ><span></span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="toolbar right-toolbar">
          <button
            type="button"
            class="btn right-panel-btn"
            data-action="rightPanel"
          >
            <i class="fa fa-bars" aria-hidden="true"></i><span></span>
          </button>
          <div class="gap gap-center"></div>
        </div>
      </div>
    </div>
  </body>
  <script src="/jQuery.js"></script>
  <script src="/js/socket.js"></script>
  <script src="/js/game.js"></script>
  <script src="/js/Tile.js"></script>
  <script src="/js/Board.js"></script>
  <script src="/js/events.click.js"></script>
  <script src="/js/chat.js"></script>
</html>
