<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css">
  <link href="/style.css" rel="stylesheet" />
  <script src="/socket.io/socket.io.js"></script>
  <title>Shashka Demo</title>
</head>

<body>
  <input type="hidden" name="gamed" value="<%= game_id %>" />
  <input type="hidden" name="sessionID" value="<%= user_id %>" />
  <script>
      
    var game_id = document.querySelector("input[name=gamed]").value
    var sessionID = document.querySelector("input[name=sessionID]").value
    var baqay = <%= JSON.stringify(board) %>
    var player_turn = Number(<%= player_turn%>)
    let beforeMoves = <%= JSON.stringify(beforeMove)%>
    let continiuousjump = <%=continiuousjump%>
    var player1
    var player2
    let currentPlayer;
    let currentUsername = "<%= username%>"
    </script>

<%if(player_1){%>
  <script>
    player1 = "<%= player_1.user_id %>";
    if (sessionID == player1) {
      currentPlayer = 1;
    }
  </script>
  <% } if(player_2){%>
  <script>
    player2 = `<%= player_2.user_id %>`;
    if (sessionID == player2) {
      currentPlayer = 2;
    }
  </script>
  <% } %>
  <!-- Qaysi rangda o'ynashni tanlash -->
  <div class="modal-choose"></div>
  <script>
    if (!player1 || !player2) {
      let modal = document.querySelector(".modal-choose");
      modal.style.display = "flex";
      if (!player2)
        modal.innerHTML += `<button onclick="chosed('white')" id="w">white</button>`;
      if (!player1)
        modal.innerHTML += `<button onclick="chosed('red')" id="r">red</button>`;
    }
  </script>
  <div class="container">
    <div class="site-bar bar">
      <i class="fa-solid fa-xmark" id="one_mark"></i>
      <div class="menu-head">
        <img src="/image/<%=user_id%>.jpg" class="profile_image" alt="profile_image">
        <div class="profile_name"></div>
        <script>
          function format(text){
           text = text.split("")
           let newText = ''
           text.forEach((s, i) => {
            s === "-" ? newText += " " : newText += s

           })
           return newText
          }
          document.querySelector('.menu-head .profile_name').textContent = format(currentUsername)
        </script>
      </div>
      <div class="menu">
        <div class="item">
          <i class="fa-solid fa-user-group"></i>
          <p class="menu-name">Chess Lobby</p>
        </div>
        <div class="item">
          <i class="fa-solid fa-bars-progress"></i>
          <p class="menu-name">My Games</p>
        </div>
        <div class="item active">
          <i class="fa-solid fa-play"></i>
          <p class="menu-name">Current Game</p>
        </div>
      </div>
      <div class="menu-bottom">
        <i class="fa-solid fa-chess"></i>
        <p class="company_name">Oliy Ong</p>
      </div>
    </div>

    
    <div class="content">
      <div class="column">
        <div id="board">
          <div class="tiles"></div>
          <div class="pieces">
            <div class="player1pieces"></div>
            <div class="player2pieces"></div>
          </div>
        </div>
      </div>

      <div class="mobile_profile it">
        <img src="/image/alisher.jpg" class="profile_image" alt="profile_image">
        <div class="profile_name">Alisher Sadullayev</div>
      </div>
      <div class="mobile_profile you">
        <img src="/image/shamshod.jpg" class="profile_image" alt="profile_image">
        <div class="profile_name">Shamshod</div>
      </div>
      <div class="content-bottom">
        <i class="fa-solid fa-bars one" id="one_bars"></i>
        <div class="motion">
          <button class="icon" id="resignBtn">
            <i class="fa-regular fa-flag"></i>
            <p>resign</p>
          </button>
          <button class="icon" id="drawBtn">
            <i class="fa-solid fa-handshake-simple"></i>
            <p>draw</p>
          </button>
          <button class="icon" id="cancelBtn">
            <i class="fa-solid fa-ban"></i>
            <p>canced</p>
          </button>
        </div>
        <i class="fa-solid fa-bars two" id="two_bars"></i>
        <h1></h1>
      </div>
    </div>




    <div class="chat-bar bar">
      <i class="fa-solid fa-xmark" id="two_mark"></i>
      <div class="profile">
        <img src="/image/alisher.jpg" class="profile_image" alt="profile_image">
        <div class="profile_name">Alisher Sadullayev</div>
      </div>
      <p id="player_1_time">60</p>
      <div class="chat">
        <div class="chat-messages">
          <% messages.forEach(ctx => { %>
            <%if(ctx.from == user_id) {%>
             <div class="chat-message me">
            <% }else { %> 
              <div class="chat-message">
              <% } %> 
              <div class="chat-photo" style="background-image: url('/img/profile-pic-300px.jpg');"></div>
             <div class="chat-text" >
             <div class="username"><%= ctx.from %></div><%= ctx.text %> </div>
             </div>
          <% }) %> 
        </div>
        <!-- <form action=""> -->
        <form class="chat-input chat-form">
            <input type="text" placeholder="Comment" class="chat_input">
            <button class="fa-solid fa-paper-plane"></button>
          </form>
        <!-- </form> -->
      </div>
      <p id="player_2_time">60</p>
      <div class="profile">
        <img src="/image/unknown.png" class="profile_image player2_photo" alt="profile_image" >
        <div class="profile_name player2_name" ></div>
      </div>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>

<script>
  let images = document.querySelectorAll(".profile_image")
  images.forEach(img => {
    img.addEventListener('error', function handleError(err) {
    img.src = "/image/unknown.png"
    console.log(err);
  })
});
</script>
<script src="/jQuery.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/game.js"></script>
<script src="/js/Tile.js"></script>
<script src="/js/Board.js"></script>
<script src="/js/events.click.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/timer.js"></script>
<script src="/js/bottomPanel.js"></script>
<script src="/js/playerPhoto.js"></script>
</html>
